{% extends 'authlayout.html'%}
{% block metadata %}
<title>Log in | beHome</title>
{% endblock %}
{% block content %}
    <div class="login_form auth_form_content">
        <h1> Iniciar sesion en <br> <span class="logo">beHome</span></h1>
        <div class="message">No tienes cuenta en beHome <a href="/register" class="btn_underline"> Registrate aqui</a></div>
        
        <form name="signin_form" method="POST">
            <label for="">Correo electronico</label>
            <input name="email" type="email" required>
            
            <div class="side_label">
                <label for="">Contraseña</label>
                <button class="forget_password btn_underline">Olvidaste la contraseña?</button>
            </div>
            <input type="password" name="password" placeholder="" required>
            <p class="error error--hiden"></p>

            <button class="btn btn_primary"> Iniciar Sesion</button>
        </form>
    </div>
{% endblock %}